* {
    margin: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(20, 18, 18);
}




.viewHS {
    margin-top: -20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 45%;
    flex-wrap: nowrap;
}

.viewHS a{
    color:rgb(91, 39, 139);
    font-weight: bold;
    text-decoration: none;
}

.viewHS:hover {
    cursor:pointer;
}

.viewHS:active {
    opacity:50%;
}

.timer {
    margin-top:-20px;
    margin-right:0px;
    padding-right:0px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 45%;
    flex-wrap: nowrap;
}

.timer p {
    font-weight: bold;
    align-items:flex-end;
}

.reveal {
    display: block;
    margin: auto;
    width: 45%;
}

.hide {
    display: none; 
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.startingPage p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 40px;
}

#startQuiz {
    display:block;
    margin: auto;
    text-align: center;
    width: 30%;
}

h2 {
    font-size: 1.3rem;
    text-align: left;
}

.questionBtns {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
    text-align: left;
    margin-left: 0px;
}

button, input[type=button], #submitBtn {
    background-color: rgb(91, 39, 139);
    border-radius: 5px;
    font-weight:bold;
    color: white;
    
}

button:hover, input[type=button]:hover, #submitBtn:hover {
    border: rgb(197, 41, 197) 4px solid;
    cursor: pointer;
}

button:active, #submitBtn:active {
    opacity: 50%;
}

#right1 p,
#right2 p,
#right3 p,
#right4 p,
#right5 p {
    text-align: left;
    font-style: italic ;
    font-size: 1.2rem;
    margin-left: -250px;
    border-top: 2px solid gray;
    width: 700px;
}

#wrong1 p,
#wrong2 p,
#wrong3 p, 
#wrong4 p,
#wrong5 p {
    text-align: left;
    color: red;
    font-style: italic ;
    font-size: 1.2rem;
    margin-left: -250px;
    border-top: 2px solid gray;
    width: 700px;
} 

h3 {
    font-size: 1.3rem;
    text-align: left;
}

.allDone {
    text-align: center;
}

#doneForm {
    margin-left: 0px;
}

.highscoreBtns {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}