* {
    margin: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(20, 18, 18);
}

.hide {
    display: none; 
}

.reveal {
    display: block;
    margin: auto;
    width: 45%;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.startingPage p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 40px;
}

#startQuiz {
    display:block;
    margin: auto;
    text-align: center;
    width: 30%;
}

h2 {
    font-size: 1.3rem;
    text-align: left;
}

.questionBtns {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
    text-align: left;
    margin-left: 0px;
}

button, input[type=button], #submitBtn {
    background-color: rgb(91, 39, 139);
    border-radius: 5px;
    font-weight:bold;
    color: white;
    
}

button:hover, input[type=button]:hover, #submitBtn:hover {
    border: rgb(197, 41, 197) 4px solid;
    cursor: pointer;
}

button:active, #submitBtn:active {
    opacity: 50%;
}

.right p {
    text-align: left;
    font-style: italic ;
    font-size: 1.2rem;
    margin: auto;
    border-top: 2px solid gray;
    width: 100%;
}

.wrong p, {
    text-align: left;
    color: "red";
    font-style: italic ;
    font-size: 1.2rem;
    margin-left: -12px;
    border-top: 2px solid gray;
    width: 100%;
} 

h3 {
    font-size: 1.3rem;
    text-align: left;
}

.allDone {
    text-align: center;
}

#doneForm {
    margin-left: 0px;
}

.highscoreBtns {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}